*{
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 8px;

}
input{
    font-size: x-large;
    font-weight: bolder;
    color: blue;    
    background-color: white;
}
select{
    font-size: x-large;
    font-weight: bolder;
    color: blue;
    background-color: white;
}
button{
    
    color: orange;
    background-color: white;
    font-weight: bolder;
    padding: 8px;
    border: 3PX solid black;
}
.fin{
    height: 300px;
    width: 100%;

    border: 12px solid yellow;
}
#curen2{
       color: purple;
       font-size: xx-large;
       font-weight: bolder;
}   
.fity{
    height: 30px;
    width: 50px;
    background-color: blueviolet;
    transition: width, 3s
}
.fity:hover{
    width: 100px;
}